form {
    width: 75vw;
    margin: 0 auto;
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid black;
    border-top: none;
}

h2:first-of-type {
    align-self: center;
}

h2 {
    padding: 5px 10px;
}

.img {
    width: 100%; height: 50vh;
    background-image: url('../../Assets/Pizza.jpg');
}

.labels {
    background-color: rgba(178, 179, 180, .7);
    padding: 5px 10px;
}

label {
    font-size: 18px;
}

input {
    display: block;
    margin: 5px;
    width: 100px;
}

.toppings {
    display: flex;
    flex-flow: row;
    padding: 5px 10px;
}

select{
    margin: 5px;
    width:100px;
}

.special {
    width: 80%; height: 20vh;
    margin: 10px auto;
}

#order-button {
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: center;
    text-decoration: none;
    color: black;
    width: 100px; height: 50px;
    margin: 15px 0px;
    border: 1px solid black;
}

#order-button:hover {
    transform: scale(1.05);
}